<p-panel>
  <p-header>
    <h3>Lokalizacja</h3>
  </p-header>

  <br>
  Uroczystość zaślubin odbędzie się w <strong>
    <a href='https://lodz.jezuici.pl/'> Parafia Najświętszego Imienia Jezus</a></strong><br>
  ul. Sienkiewicza 60<br>
  90-058 Łódź<br>
  <a href='https://goo.gl/maps/YcQjEnhWAj4CgGFJA'> Dojazd</a><br>
  <br>

  <br>
  Przyjęcie weselne obędzie się w Domu weselnym <strong>
    <a href='http://www.domweselny.org/'> Zielony Buk</a></strong><br>
  ul. Rogowska 27<br>
  91-529 Łódź<br>
  <a href='https://g.page/Sala-weselna-ZielonyBuk?share'> Dojazd</a><br>
  <br>
</p-panel>
