<p-panel>
  <p-header>
    <h3>Aktualności</h3>
  </p-header>

  <br>

  <img src="assets/images/demo/rece.jpg" alt="avatar" class="avatar">


  <div class="text-center">
    <br>
    <h3><strong>Paulina Podsiadła i Radek Subczyński </strong></h3>
    <br>

    <h5>
    Z radością zawiadamiamy, iż 20 sierpnia 2021 roku <br>
    <strong>staniemy się mężem i żoną.</strong><br>
    Będzie nam bardzo miło, jeśli zaszczycicie nas swoją obecnością.
    <br>
    Oficjalne zaproszenia dotrą w przyszłości :)
  </h5>

  <br>


    Szczegóły które mamy na obecną chwilę ustalone:<br>
    Kościół: <a href="https://lodz.jezuici.pl/"><strong>Sanktuarium Najświętszego Imienia Jezus</strong></a><br>
    Sala weselna: <a href='http://www.domweselny.org/'><strong>Zielony Buk</strong></a><br>

    Dokładne adresy w zakładce <a href="/location"><strong>Lokalizacja</strong></a>

    <br>

  </div>

</p-panel>
