<p-panel>
  <p-header>
    <h3>Aktualności</h3>
  </p-header>

  <br>
  <img src="assets/images/demo/rece.jpg" alt="avatar" class="avatar center">


  <div class="text-center">
    <br>
    <h3>Hej!!</h3>
    <br>
    Mam bardzo radosną nowinę <strong>Radek i Paulina się zaręczyli</strong>, <br>
    Chcemy powiadomić was że przyjęcie weselne odbędzie sie 20.08.2021 w <strong>Łodzi</strong>. <br>
    Dlatego bardzo prosimy o to żebyście zaplanowali wolny termin na tą datę :) <br>
    Zaproszenia dotrą w przyszłości !<br>
    <br>

    Szczegóły które mamy na obecną chwilę ustalone:<br>
    Kościół: <a href="https://lodz.jezuici.pl/"><strong>Parafia Najświętszego Imienia Jezus</strong></a><br>
    Sala weselna: <a href='http://www.domweselny.org/'><strong>Zielony Buk</strong></a><br>

    <br>

  </div>

</p-panel>
